.contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: inline-block;      /* インラインブロック要素にする */
    background-color:  #ccc;    /* 背景色指定 */
    padding:  20px;             /* 余白指定 */
    margin: 20px;
    height: 100px;              /* 高さ指定 */
    width: 300px;
    text-align: center;
    font-size: xx-large;
    line-height: 60px;
}